/*TT-Lakes Regular*/
@font-face {
  font-family: 'TT-Lakes Regular';
  src: url('../fonts/TTLakes-Regular.ttf');
}
/*TT-Lakes Bold*/
@font-face {
  font-family: 'TT-Lakes Bold';
  src: url('../fonts/TTLakes-Bold.ttf');
}