@import "layout/header";
@import "vars";
@import "";


@font-face {
  font-family: 'TT-Lakes Regular';
  src: url('../fonts/TTLakes-Regular.ttf');
}
/*TT-Lakes Bold*/
@font-face {
  font-family: 'TT-Lakes Bold';
  src: url('../fonts/TTLakes-Bold.ttf');
}

/*ШРИФТЫ*/
.small-font {
  font-size: 12px;
}
.medium-font {
  font-size: 14px;
}
.biggest-font {
  font-size: 16px;
}
